@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: gray;
  max-width: 100%;
}

main {
  display: flex;
  gap: 10px;
  max-height: 800px;
}
