.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  gap: 20px;
  margin-bottom: 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  height: 21px;
  background: #efefef;
  border-radius: 24px;
}

.search-bar_submit {
  border: none;
  width: 16px;
  height: 16px;
  margin: 0px 8px;
  cursor: pointer;
}

.search-bar input {
  font-weight: normal;
  font-size: 22px;
  line-height: 19px;
  color: #333333;
  margin: 0px 8px;
  border: none;
  background-color: transparent;
}

.search-bar input:focus {
  outline: none;
}

@media (max-width: 425px) {
  .header {
    gap: 10px;
  }
  .header_title {
    font-size: 14px;
  }
  .search-bar input {
    font-size: 10px;
  }
}
