.sidebar {
  padding: 10px;
}

.sidebar_title {
  font-size: 30px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  height: 54vh;
  overflow-y: auto;
}

.sidebar li {
  padding: 0.5em;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
